h1 {
    background-color: white;
    text-align: center;
    font-size: 30px;
}

h1 span:nth-child(1) {
    color: #4285f4;
}

h1 span:nth-child(2) {
    color: #ea4335;
}

h1 span:nth-child(3) {
    color: #fbbc05;
}

h1 span:nth-child(4) {
    color: #4285f4;
}

h1 span:nth-child(5) {
    color: #34a853;
}

h1 span:nth-child(6) {
    color: #ea4335;
}

h1 span:nth-child(7) {
    color: #4285f4;
}

h1 span:nth-child(8) {
    color: #ea4335;
}

h1 span:nth-child(9) {
    color: #fbbc05;
}

h1 span:nth-child(10) {
    color: #4285f4;
}

h1 span:nth-child(11) {
    color: #34a853;
}

h1 span:nth-child(12) {
    color: #ea4335;
}

h1 span:nth-child(13) {
    color: #4285f4;
}

h1 span:nth-child(14) {
    color: #ea4335;
}

h1 span:nth-child(15) {
    color: #fbbc05;
}

h1 span:nth-child(16) {
    color: #4285f4;
}

body {
    font: 15px 'Noto Sans CJK KR', Noto Sans KR, sans-serif
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
.frame {
    position: absolute;
    left: 60%;
    width: 34%;
    height: 38%;
    margin-top: 10%;
    border-radius: 47px;
    box-shadow: 1px 2px 10px 0px rgba(66 133 244);
    overflow: hidden;
    background: #ffffff00;
    background: -moz-linear-gradient(top, #ffffff00 0%, #ffffff00 100%);
    background: -webkit-linear-gradient(top, #ffffff00 0%, #ffffff00 100%);
    background: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#28404e', endColorstr='#1c2e38', GradientType=0);
    color: rgb(4, 138, 248);
    font-family: 'Open Sans', Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headline {
    font-weight: 700;
    font-size: 16;
    text-transform: uppercase;
    text-align: center;
    line-height: 0px;
}

.headline .small {
    font-weight: 300;
    font-size: 12px;
}

.circle-big {
    position: relative;
    width: 114px;
    height: 114px;
    margin: 30px auto 25px auto;
}

.circle-big svg {
    width: 114px;
    height: 114px;
}

.circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1b2a33;
}

.circle-big .progress {
    fill: none;
    stroke-width: 10px;
    stroke: #27e1ae;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 327;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-out;
}

.circle-big .text {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.circle-big .text .small {
    font-size: 14px;
    color: #648192;
}

.circles-small {
    margin: 0 auto;
    width: 400px;
    height: 80px;
    text-align: center;
}

.circle-small {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.circle-small svg {
    width: 80px;
    height: 80px;
}

.circle-small .bg {
    fill: none;
    stroke-width: 6px;
    stroke: #1b2a33;
}

.circle-small .progress {
    fill: none;
    stroke-width: 6px;
    stroke: #5ce1ec;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circle-small .progress.one {
    stroke-dashoffset: 80;
    animation: one 1.5s ease-out;
}

.circle-small .progress.two {
    stroke-dashoffset: 140;
    animation: two 1.5s ease-out;
}

.circle-small .text {
    position: absolute;
    width: 100%;
    top: 26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}

.circle-small .text .small {
    font-size: 12px;
    color: #648192;
}

.btn {
    box-shadow: 1px 2px 10px 0px rgba(66 133 244);
    position: absolute;
    margin-top: 10%;
    margin-left: 10%
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    box-sizing: border-box;
}

.kave-btn {
    position: relative;
    border: solid 1px rgba(0, 214, 252, 0.3);
    background: none;
    color: rgba(0, 214, 252, 0.5);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8px;
    width: 143px;
    top: 40px;
    left: 37px;
    height: 47px;
    padding: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    outline: none;
}

.kave-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 1px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-btn:hover {
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
    color: #00d6fc;
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-btn:hover.kave-btn:before {
    left: 0;
    width: 20px;
}

.kave-btn:hover.kave-btn:after {
    right: 0;
    width: 20px;
}

.kave-btn:hover .kave-line:before {
    bottom: 0;
}

.kave-btn:hover .kave-line:after {
    top: 0;
}

.kave-line:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-line:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.container {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-top: 110px;
    margin-left: auto;
}

.canvas {
    position: absolute;
    margin-top: 60%;
    width: 100%;
    height: 400px;
}

* .page-link {
    margin-bottom: 0;
    margin-top: 0;
}

.addthis_inline_share_toolbox {
    position: relative;
    margin-top: 40%;
    width: 100%;
    text-align: center;
}


.gnb-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gnb-menu a {
    font-size: 15px;
    font-weight: bold;
    color: #282828;
    text-decoration: none;
    position: relative;
    /* padding: 6px 12px; */
}

.gnb-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .5s ease-out;
}

.gnb-menu a:hover::after {
    width: 100%;
}

.label-container {
    text-align: center;
}

.feedback {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallerycontroller {
    width: 0px;
    /*아래쪽 상자의 가로크기*/
    position: absolute;
    left: -100%;
}

.gallerycontent {
    position: relative;
    text-align: center;
    /*사진이 나오는 상자의 가로*/
    /*높이*/
    border: 5px solid lightpink;
    /*테두리*/
    background-color: white;
    /*배경색*/
    padding: 0px;
    /*안쪽여백*/
    display: block;
}



.accordion {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

input[id*="answer"] {
    display: none;
}

input[id*="answer"]+label {
    display: block;
    padding: 20px;
    border: 3px solid #232188;
    border-bottom: 0;
    color: #fff;
    font-weight: 900;
    background: #3634a5;
    cursor: pointer;
    position: relative;
}

input[id*="answer"]+label em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
    background: url('./img/arrow.png') 0 0 no-repeat;
}

input[id*="answer"]+label+div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #ebf8ff;
    font-size: 11px;
}

input[id*="answer"]+label+div p {
    display: inline-block;
    padding: 20px;
}

input[id*="answer"]:checked+label+div {
    max-height: 100px;
}

input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
}