/* navbar */
.navbar {
  background: #f0f0f0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
top: 0;
z-index: 999;


}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 50px;

}

#navbar__logo {
background-color: #131313;
background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.navbar__menu {
display: flex;
align-items: center;
list-style:none;
}


.navbar__item {
height: 80px;

}

.navbar__links {
color: #fff;
display: flex;
align-items: center;
justify-content: center;
width: 125px;
text-decoration: none;
height: 100%;
transition: all 0.3s ease;
text-align: center;
}

.navbar__btn {
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
width: 100%;

}

.navbar__links:hover {
color: #9518fc;
transition: all 0.3s ease;
text-align: center;

}

@media screen and (max-width: 960px) {
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0;
  
}

.navbar__menu {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index:-1;
  
}
.navbar__menu.active {
  background: #f0f0f0;
  color: #131313;
  top: 100%;
  opacity:1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 60vh;
  font-size: 1.6rem;
  
  
}

#navbar__logo {
  padding-left: 25px;
  
}
.navbar__toggle .bar {
  width: 25px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #131313;
  border-radius: 2px;
}
.nav__item {
  width: 100%;
  
}
.nav__links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
  
} 
.navbar__btn {
  padding-bottom: 2rem;
  
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
  
}
#mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}
.navbar__toggle .bar {
  display: block;
  cursor: pointer;
  color: #131313;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
  
}
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  
}#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  
}
}
/* 기존 */
.homepage-image {
	border:0;
	width:100%; 
	display: block;
	margin: 0px auto; 
	box-shadow: 2px 2px 2px 2px gray; 
	padding-top: 0px;
	margin-bottom: 20px;
}
h1 {
    background-color: white;
    text-align: center;
    font-size: 30px;
}

h1 span:nth-child(1) {
    color: #4285f4;
}

h1 span:nth-child(2) {
    color: #ea4335;
}

h1 span:nth-child(3) {
    color: #fbbc05;
}

h1 span:nth-child(4) {
    color: #4285f4;
}

h1 span:nth-child(5) {
    color: #34a853;
}

h1 span:nth-child(6) {
    color: #ea4335;
}

h1 span:nth-child(7) {
    color: #4285f4;
}

h1 span:nth-child(8) {
    color: #ea4335;
}

h1 span:nth-child(9) {
    color: #fbbc05;
}

h1 span:nth-child(10) {
    color: #4285f4;
}

h1 span:nth-child(11) {
    color: #34a853;
}

h1 span:nth-child(12) {
    color: #ea4335;
}

h1 span:nth-child(13) {
    color: #4285f4;
}

h1 span:nth-child(14) {
    color: #ea4335;
}

h1 span:nth-child(15) {
    color: #fbbc05;
}

h1 span:nth-child(16) {
    color: #4285f4;
}

body {
    font: 15px 'Noto Sans CJK KR', Noto Sans KR, sans-serif;
	background-color:white; 
	line-height: 2;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
.frame {
    position: absolute;
    left: 60%;
    width: 34%;
    height: 38%;
    margin-top: 10%;
    border-radius: 47px;
    box-shadow: 1px 2px 10px 0px rgba(66 133 244);
    overflow: hidden;
    background: #ffffff00;
    background: -moz-linear-gradient(top, #ffffff00 0%, #ffffff00 100%);
    background: -webkit-linear-gradient(top, #ffffff00 0%, #ffffff00 100%);
    background: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#28404e', endColorstr='#1c2e38', GradientType=0);
    color: rgb(4, 138, 248);
    font-family: 'Open Sans', Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.jb-box { width: 100%; height: auto; display: block; overflow: hidden;margin: 0px auto; position: relative; border: solid 3px rgba(0, 214, 252, 0.3); }
 video { display: block; margin: auto; width: 100%; }
.jb-text { position: absolute; top: 50%; width: 100%; }
.jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }

.website-description {
	text-align: center; 
	font-style: italic; 
	font-weight: bold; 
	line-height:3; 
	margin-top: 48px;
	font-size: 20px;
	margin-left: 5px; 
	margin-right:5px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-picture {
	text-align: center;
	font-style: italic;
	font-weight: bold; 
	box-shadow: 2px 2px 2px 2px gray;
	display: block; 
	margin: 10px auto; 
	width: 200px;
	border-radius: 5%;
}
.headline {
    font-weight: 700;
    font-size: 16;
    text-transform: uppercase;
    text-align: center;
    line-height: 0px;
}

.headline .small {
    font-weight: 300;
    font-size: 12px;
}

.circle-big {
    position: relative;
    width: 114px;
    height: 114px;
    margin: 30px auto 25px auto;
}

.circle-big svg {
    width: 114px;
    height: 114px;
}

.circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1b2a33;
}

.circle-big .progress {
    fill: none;
    stroke-width: 10px;
    stroke: #27e1ae;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 327;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-out;
}

.circle-big .text {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.circle-big .text .small {
    font-size: 14px;
    color: #648192;
}

.circles-small {
    margin: 0 auto;
    width: 400px;
    height: 80px;
    text-align: center;
}

.circle-small {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.circle-small svg {
    width: 80px;
    height: 80px;
}

.circle-small .bg {
    fill: none;
    stroke-width: 6px;
    stroke: #1b2a33;
}

.circle-small .progress {
    fill: none;
    stroke-width: 6px;
    stroke: #5ce1ec;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circle-small .progress.one {
    stroke-dashoffset: 80;
    animation: one 1.5s ease-out;
}

.circle-small .progress.two {
    stroke-dashoffset: 140;
    animation: two 1.5s ease-out;
}

.circle-small .text {
    position: absolute;
    width: 100%;
    top: 26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}

.circle-small .text .small {
    font-size: 12px;
    color: #648192;
}


@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    box-sizing: border-box;
}

.kave-btn {
    position: relative;
    border: solid 3px rgba(0, 214, 252, 0.3);
    background: none;
    color: rgba(0, 214, 252, 0.5);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8px;
    width: 143px;
    top: 40px;
    left: 37px;
    height: 47px;
    padding: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    outline: none;
}

.kave-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 2px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-btn:hover {
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
    color: #00d6fc;
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-btn:hover.kave-btn:before {
    left: 0;
    width: 20px;
}

.kave-btn:hover.kave-btn:after {
    right: 0;
    width: 20px;
}

.kave-btn:hover .kave-line:before {
    bottom: 0;
}

.kave-btn:hover .kave-line:after {
    top: 0;
}

.kave-line:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.kave-line:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    background: #00d6fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.counter-container {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-top: 30px;
    margin-left: auto;
}

.canvas {
    position: absolute;
    margin-top: 60%;
    width: 100%;
	height: 100%;
}

* .page-link {
    margin-bottom: 0;
    margin-top: 0;
}

.addthis_inline_share_toolbox {
    position: relative;
    margin-top: 40%;
    width: 100%;
    text-align: center;
}


.gnb-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gnb-menu a {
    font-size: 15px;
    font-weight: bold;
    color: #282828;
    text-decoration: none;
    position: relative;
    /* padding: 6px 12px; */
}

.gnb-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .5s ease-out;
}

.gnb-menu a:hover::after {
    width: 100%;
}



.feedback {
    text-align: center;
    font-weight: bold;
    margin: auto;
	box-shadow: 2px 2px 2px 2px gray; 
	display: block;  
	width: 162px;	
	position: relative;
	
}

.gallerycontroller {
    width: 0px;
    position: absolute;
    left: -100%;
}

.gallerycontent {
    position: relative;
    text-align: center;
    
    border: 5px solid lightpink;
    
    background-color: white;
    
    padding: 0px;
    
    display: block;
	
}
.gallerycontent img {
	width:50%;
	height:50%;
}
.move-gif {
	border:0;  
	width:80%; 
	display: block; 
	margin: 10px auto;
}


.accordion {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
	font-weight: 600;
	text-align:center;
	margin: 10px 10px 10px 10px;
}

input[id*="answer"] {
    display: none;
}

input[id*="answer"]+label {
    display: block;
    padding: 20px;
    border: 3px solid ;
    color: #fff;
    font-weight: 900;
    background: orange;
    cursor: pointer;
    position: relative;
}

input[id*="answer"]+label em {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
    background: url('./img/arrow.png') 0 0 no-repeat;
}

input[id*="answer"]+label+div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #ebf8ff;
    font-size: 11px;
}

input[id*="answer"]+label+div p {
    display: inline-block;
    padding: 20px;
}

input[id*="answer"]:checked+label+div {
    max-height: 100px;
}

input[id*="answer"]:checked+label em {
    background-position: 0 -30px;
}

html,
  body,
        div,
        span,
        applet,
        object,
        iframes,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        quotes,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        sub,
        sup,
        tt,
        var,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            do: inherit;
            vertical-align: baseline;
        }
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote: before,
        blockquote: after,
        q: before,
        q: after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /*css 초기화*/
        
        .card {
            height: 381px;
            width: 270px;
            border-radius: 15px;
            display: inline-block;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow: hidden;
        }
        
        .card-header {
            -webkit-transition: 0.5s;
            /*사파리 & 크롬*/
            -moz-transition: 0.5s;
            /*파이어폭스*/
            -ms-transition: 0.5s;
            /*인터넷 익스플로러*/
            -o-transition: 0.5s;
            /*오페라*/
            transition: 0.5s;
            width: 100%;
            height: 231px;
            border-radius: 15px 15px 0 0;
            background-image: url("simple.png");
            background-size: 100% 280px;
            background-repeat: no-repeat;
        }
        
        .card:hover .card-header {
            opacity: 0.8;
            height: 100px;
        }
        
        .card-header-is_closed {
            background-color: #EF5A31;
            color: #FFF;
            font-weight: bold;
            text-align: center;
            float: right;
            margin: 15px 15px 0 0;
            border-radius: 50%;
            font-weight: bold;
            padding: 10px 10px;
            line-height: 20px;
        }
        
        h1 {
            font-size: 22px;
            font-weight: bold;
        }
        
        .card-body {}
        
        .card-body-header {
            line-height: 25px;
            margin: 10px 20px 0px 20px;
        }
        
        .card-body-description {
            opacity: 0;
            color: #757B82;
            line-height: 25px;
            -webkit-transition: .2s ease-in-out;
            /*사파리&크롬*/
            -moz-transition: .2s ease-in-out;
            /*파이어폭스*/
            -ms-transition: .2s ease-in-out;
            /*익스플로러*/
            -o-transition: .2s ease-in-out;
            /*오페라*/
            transition: .2s ease-in-out;
            overflow: hidden;
            height: 94px;
            margin: 5px 20px;
        }
        
        .card:hover .card-body-description {
            opacity: 1;
            -webkit-transition: .5s ease-in;
            -moz-transition: .5s ease-in;
            -ms-transition: .5s ease-in;
            -o-transition: .5s ease-in;
            transition: .5s ease-in;
            overflow: scroll;
			
        }
        
        .card-body-hashtag {
            color: #2478FF;
            font-style: italic;
			

        }
        
        .card-body-footer {
            position: absolute;
            margin-top: 15px;
            margin-bottom: 6px;
            bottom: 0;
            width: 232px;
            font-size: 14px;
            color: #9FA5A8;
            padding: 0 15px;
			
        }
        
        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;
        }
        
        .icon-view_count {
            width: 25px;
            height: 17px;
            background: url("simple.png") no-repeat;
        }
        
        .icon-comments_count {
            margin-left: 5px;
            width: 25px;
            height: 17px;
            background: url("simple.png") no-repeat;
        }
        
        .reg_date {
            float: right;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        ul {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        .box {
            max-width: 960px;
            width: 100%;
            height: 555px;
            border: 1px solid white;
            margin: 0 auto;
        }
        
        #tab ul {
            white-space: nowrap;
            overflow-x: auto;
            text-align: center
        }
        
        #tab ul li {
            display: inline-block;
            padding: 10px 20px;
            background: white;
            margin-right: -40px;
        }

.sticky-bar {
	width:320px;
	height:50px;
	background:#ffce00;
	text-align:center;
	line-height:50px;
}
.adsstyle {
	text-decoration: none;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	color: black;

}
.sticky-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: visible;
  position: fixed;
  text-align: center;
  bottom: -104px;
  left: 0;
  width: 100%;
  z-index: 999;
  max-height: 104px;
  background-image: none;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding-top: 4px;
  transition: all .4s ease-in-out;
}
.sticky-ad-close-button {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  right: 0;
  background-size: 13px 13px;
  background-position: 9px;
  background-color: #fff;
  background-repeat: no-repeat;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px 0 0 0;
  cursor: pointer;
}
.sticky-ad-close-button:before {
  position: absolute;
  content: "";
  top: -20px;
  right: 0;
  left: -20px;
  bottom: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus {
  outline: 0
}

body {
  background:#efefef;
  height: 100%;
}
.reloadpage {
  position: fixed;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 10px;
  background-size: 24px 24px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius:0;
  cursor: pointer;
  }